
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
}

img {
    width: 100%;
    height: auto;
}

.location-listing {
    position: relative;
    overflow: hidden;
}

.location-title {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(90,0,10,0.4);
}

.location-listing:hover .location-image img {
    filter: blur(2px);
}
.location-image {
    filter: blur(0px);
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
}

.location-title {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(90,0,10,0.4);

    /* typographic styles */
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;

    /* position the text centrally*/
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* hide the title by default */
    opacity: 0;
    transition: opacity .5s;
}
.location-listing:hover .location-title {
    opacity: 1;
}

#ty_btn{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-right:-4px;
}
#sg_btn{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;    
    margin-left:-3px;
}
#iu_btn{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;    
    margin-left:-3px;
}
#btn_group button{
    border: 1px solid skyblue;
    background-color: rgba(0,0,0,0);
    color: skyblue;
    padding: 5px;
}
#btn_group button:hover{
    color:white;
    background-color: skyblue;
}

/*https://webdesign.tutsplus.com/ko/tutorials/create-a-css-grid-image-gallery-with-blur-effect-and-interaction-media-queries--cms-32287*/